{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}

    <!-- Header -->
    <header id="header">
        <div class="content">
            <h1><span class="span-logo">$Site</span><span class="span-logo-close">;</span></h1>
            <p>En cours de développement <br />
                Merci pour votre compréhension</p>
            {#<ul class="actions">#}
                {#<li><a href="#one" class="button icon fa-chevron-down scrolly">Voir plus</a></li>#}
            {#</ul>#}
        </div>
        <div class="image phone"><div class="inner"><img src="{{ asset('assets/images/local/codage_php.png') }}" alt="code php" class="logo-size"/></div></div>
    </header>

    <footer id="footer">
        <ul class="icons">
            <li><a href="https://www.facebook.com/CybixTechnology/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            {#<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>#}
            {#<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>#}
        </ul>
        <p class="copyright">&copy; Untitled. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
    </footer>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}